@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    <h1>Logged in as: @User.Identity.Name</h1>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
            <dd>@claim.Issuer</dd>
        }
    </dl>
}
else
{
    <h1>Not Logged In</h1>
}